<div class="wrapper">
  <header>
    <div class="header">
      <div class="header__snippet">
        <div class="header__quote">
          <h4>"{{ quote }}"</h4>
        </div>
      </div>
      <div class="header__logo">
        <div class="header__img">
          <!-- <img src="../assets/img/logo/logo.svg" alt="" /> -->
          <h1><span>il</span> Resto <span>del</span> Nerdino</h1>
        </div>
      </div>
      <div class="header__date">
        <div class="header__news">
          <h2>Wheater's News</h2>
        </div>
        <div class="header__wheater">
          <p>Today, the weather is sh*t.</p>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <div class="slider">
      <div class="slider__top"></div>
      <div class="slider__content">
        <div class="slide" *ngFor="let crypto of cryptoData">
          <div class="slider__img">
            <img src="{{ crypto.image.large }}" alt="" />
          </div>
          <div class="slider__info">
            <div class="slider__text">{{ crypto.name }}</div>
            <div class="slider__price">
              {{ crypto.market_data.current_price.usd }} USD
            </div>
          </div>
        </div>
        <div class="slide" *ngFor="let crypto of cryptoData">
          <div class="slider__img">
            <img src="{{ crypto.image.large }}" alt="" />
          </div>
          <div class="slider__info">
            <div class="slider__text">{{ crypto.name }}</div>
            <div class="slider__price">
              {{ crypto.market_data.current_price.usd }} USD
            </div>
          </div>
        </div>
      </div>
      <div class="slider__bottom"></div>
    </div>
  </nav>
  <main>
    <div class="wrapper__hackerNews">
      <div class="articles__header">
        <h1>Hacker News <span>Top 10.</span></h1>
      </div>
      <div class="articles">
        <div
          class="article articles__{{ i + 1 }}"
          *ngFor="let story of storyLinks; let i = index"
        >
          <div class="articles__title">
            <h2>
              <a
                href="https://news.ycombinator.com/item?id={{ story.id }}"
                target="_blank"
                >{{
                  story.title.length > 64
                    ? (story.title | slice : 0 : 64) + "..."
                    : story.title
                }}</a
              >
            </h2>
          </div>
          <div class="articles__options">
            <div class="articles__score">
              <p><i class="bi bi-caret-up-fill"></i> {{ story.score }}</p>
            </div>
            <div class="articles__comments">
              <p>
                <a
                  href="https://news.ycombinator.com/item?id={{ story.id }}"
                  target="_blank"
                  >{{ story.descendants }} <em>comments</em></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>
